<div class="center jumbotron">
  <h1>Welcome to social SK</h1>

  <h2>
    A tool built to link Songkickers together through their SK accounts
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
