<li id="calendar_entry-<%= calendar_entry.id %>">
  <img src=<%= avatar_url_for((Event.find_by sk_id: calendar_entry.event_id).artist_id) %> >
  <span class="display-name"><%= (Event.find_by sk_id: calendar_entry.event_id).display_name %></span>
</li>
