@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$black: #000000;
$gray-medium-light: #eaeaea;
$sk-pink: #f80046;
$sk-dark-pink: #a6002c;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

html {
  position: relative;
  min-height: 100%;
}

/* universal */

body {
  padding-top: 80px;

  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* navbar */

ul.nav a:hover { color: $sk-pink !important; }

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 25px;
  @include box_sizing;
}

input {
  height: auto !important;
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}


/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.8em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
    h2 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
    a {
      color: $sk-pink;
    }

    a:hover {
      color: $sk-dark-pink;
    }
  }
}

/* SK links */
.sk-link {
  color: $sk-pink;
}

.sk-link:hover {
  color: $sk-dark-pink;
}

/* Users index */
.users-index {
  list-style: none;
  padding: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-medium-light;
  }
}

/* Users attendance */
.users-attendance {
  list-style: none;
  padding: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $gray-medium-light;
  }
}

/* Avatars */
.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  float: right;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

/* calendar entries */
.invalid-sk-username {
  font-size: 1.8em;
  text-align: left;
  letter-spacing: -1px;
  margin-bottom: 3px;
  margin-top: 20px;
}

.calendar-entries {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .display-name {
    color: $black;
    font-size: 1.4em;
    padding-left: 1em;
    display: inline-block;
  }
  .display-name:hover {
    color: $sk-pink;
  }
  .attendance-count {
    margin-left: 60px;
  }
  .img {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}

/* footer */

footer {
  position: absolute;
  bottom: 0;
  height: 60px;
  border-top: 1px solid #eaeaea;
  color: #777;
  width: 89%;
  padding-top: 5px;
}

footer a {
  color: #555;
}

footer a:hover {
  color: $sk-pink;
  text-decoration: none;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}
